.menu-lateral {
    height: 100vh;
    width: 300px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    position: fixed;
}

.balls {
    display: flex;
    width: 100%;
    margin-left: 35px;
    margin-top: 30px;
}

.ball {
    width: 10px; height: 10px;
    border-radius: 50%;
    margin: 3px;
}

.red {
    background-color: #ba202d;
}

.yellow {
    background-color: #ffbd59;
}

.green {
    background-color: #0acf83;
}

.logo {
    margin-left: -60px;
    width: 150px;
}

.logoAndIcon {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.menuText {
    margin-left: -230px;
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #444444;
}

.menu-lateral nav {
    display: flex;
    flex-direction: column;
}

.link-nav {
    text-decoration: none;
    color: #444444;
    width: 280px; height: 40px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
}

.link-nav:hover {
    color: #fff;
    border-left: solid #0acf83 2px;
}

.icon {
    width: 20px; height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.em-breve {
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #444444;
    margin-left: -210px;
}

.principalSong {
    width: 100%; height: 130px;
    border-radius: 10px 10px 0px 0px;
    /* background-color: #ffffff30; */
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    align-items: center;
}

.backgroundPrincipalSong {
    width: 100%; height: 130px;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.principalSong h2 {
    font-size: 10px;
}

.logoPrincipalSong {
    width: 70px; width: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.audioPrincipalSong {
    width: 200px; height: 20px;
    border-radius: 0;
    margin-left: -5px;
    margin-top: 10px;
}

audio::-webkit-media-controls-panel {
    color: #0acf83;
}