.login {
    background-color: #020202;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: #313133;
}

.name-input {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  width: 60%; height: 40px;
  background: none;
  border: #1ED75F 2px solid;
  border-radius: 5px;
  padding: 5px;
}

html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-button {
    min-width: 250px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #1ED75F;
  background: linear-gradient(90deg, #1ED75F 0%, rgb(79, 209, 79) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #1ed75f4f;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 1px;
    }
  
.login-button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(260px + 12px);
    min-height: calc(50px + 12px);
    border: 2px solid #1ED75F;
    box-shadow: 0 0 60px #1ED75F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .login-button:hover, .login-button:focus {
    color: #fff;
    transform: translateY(-6px);
  }
  
  .login-button:hover::before, .login-button:focus::before {
    opacity: 1;
  }
  
  .login-button::after {
    content: '';
    width: 10px; height: 10px;
    border-radius: 100%;
    border: 1px solid #1ED75F;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .login-button:hover::after, .login-button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .loading {
    color: #fff;
  }