@media (max-width: 600px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-lateral {
        display: none;
    }

    .imagem-inicial {
        margin-left: 250px;
    }

    .albums-cards {
        margin-left: 0;
    }
}