audio {
    margin-left: 150px;
    width: 500px;
    border-radius: 10px;
}

.musics {
    margin-top: 50px;
}

.music-player-name {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 90%; height: 70px;
    padding: 10px;
    border-radius: 5px;
}

.music-player-name p {
    width: 250px;
    color: #fff;
    margin-left: 10px;
}

.music-player-name img {
    cursor: pointer;
}

.music-player-name img:hover {
    opacity: 0.5;
}

.music-player-name:hover {
    background-color: #282828;
}