body {
    background-color: #121212;
}

.search {
    float: right;
    width: 100%; height: 100%;
}

.search-input-button {
    width: 77%;
    padding: 10px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #12121280;
}

.input-search {
    border-radius: 5px;
    border: 1px solid #939393;
    width: 400px; height: 40px;
    background-color: #3131338e;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    padding-left: 10px;
}

.button-search {
    background-color: #1ED75F;
    border: none;
    width: 40px; height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.result-text {
    color: #fff;
    margin-top: 30px;
    margin-left: 350px;
    font-family: 'Nunito', sans-serif;
}

.albums-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 320px;
}

.album-card {
    width: 300px;
    height: 135px;
    background-color: #181818;
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

.album-card:hover {
    background-color: #262626;
}

.album-image {
    margin-left: 10px;
}

.info {
    margin-left: 15px;
}

.album-name {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artist-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #939393;
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-infos {
    display: flex;
    margin-top: 15px;
}

.play {
    width: 30px; height: 30px;
    margin-left: 140px;
    margin-top: 25px;
}

.user-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px; height: 50px;
    background-color: #262626;
    border-radius: 10px;
    padding: 5px;
}

.user-div h2 {
    color: #ffffff;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-icon {
    width: 40px;
    border-radius: 50%;
}

.superiorInicialScreen {
    width: 100%; height: 270px;
    background-color: #fff;
    float: right;
    background-image: url("https://images.pexels.com/photos/2078076/pexels-photo-2078076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}